<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block head_title %}Aqua App{% endblock %}</title>
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/f825ae5235.js" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{% static 'billboard/billboard.js' %}"></script>
    <link rel="stylesheet" href="{% static 'billboard/billboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="#">
</head>
<body>

{% include 'aqua_app/navbar.html' %}

<section class="text-center aqua" id="pump-operation">
    <h1 style="background-color:rgb(198, 217, 241);">Welcome to my aqua world!</h1>
    <button class="btn btn-primary" id="btn-led" data-state="0" style="height: 200px; width: 200px;">펌프 작동</button>
</section>

    <form action="./" method="get">
        <div class="text-center" style="margin: 20px;">
            <input type="text" class="datepicker" id="datepicker1" name="formdate" style="width: 160px;">
            <input type="submit" value="검색">
        </div>

    </form>

<section class="text-center" id="density-chart">농도 그래프
    <div id="chart"></div>
</section>

{% include 'aqua_app/footer.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>